html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Other Code */
html {
  font-size: 62.5%;
  background: black;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header h1 a {
  font-size: 4rem;
  margin-bottom: 10px;
  margin-left: 30px;
  font-family: "Ubuntu", sans-serif;
  color: #f3e367;
  text-decoration: none;
}
@media (max-width: 500px) {
  header h1 a {
    margin-bottom: 20px;
  }
}
header nav {
  margin-left: 62px;
  margin-top: 15px;
}
@media (max-width: 500px) {
  header nav {
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
  }
}
header nav a {
  margin-left: 20px;
  margin-right: 30px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #c9c9c9;
  font-family: "Varela Round", sans-serif;
}
header nav .first-anchor {
  margin-left: 0;
}
#landing-image .landing-image-image {
  background-image: url('../img/waiter.jpg');
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 25px;
}
#landing-image .landing-image-text {
  text-align: left;
  position: absolute;
  width: 100%;
  color: #f3e367;
}
#landing-image .landing-image-text p {
  font-size: 4rem;
  font-family: "Ubuntu", sans-serif;
  color: #f3e367;
  margin-left: 2%;
  margin-top: 10px;
}
#landing-image .landing-image-text .p2 {
  text-align: right;
  margin-right: 2%;
}
#landing-image .landing-image-text .button-div {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -180px;
}
#landing-image .landing-image-text .button-div button {
  width: 200px;
  height: 40px;
  background: #f3e367;
  font-family: "Varela Round", sans-serif;
  font-size: 1.7rem;
  border-radius: 10px;
}
.headercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headercontent h2 {
  font-size: 3rem;
  font-family: "Varela Round", sans-serif;
  border-bottom: 2px solid #c9c9c9;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: #f3e367;
}
.headercontent p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}
.content-section {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.content-section .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-section .text-content h2 {
  font-size: 2.5rem;
  margin-left: 25px;
  color: #f3e367;
  padding: 10px;
  margin-bottom: 10px;
}
.content-section .text-content p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.content-section .img-content1 {
  width: 200%;
}
.content-section .text-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-section .text-content2 h2 {
  font-size: 2.5rem;
  margin-left: 25px;
  color: #f3e367;
  padding: 10px;
  margin-bottom: 10px;
}
.content-section .text-content2 p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.content-section .text-content2 .button-div2 {
  display: flex;
  justify-content: center;
}
.content-section .text-content2 .button-div2 button {
  width: 200px;
  height: 40px;
  background: #f3e367;
  font-family: "Varela Round", sans-serif;
  font-size: 1.7rem;
  border-radius: 10px;
  margin-top: 10px;
}
.content-section .img-content2 {
  width: 50%;
  margin: 15px;
}
