html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  background: black;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header h1 a {
  font-size: 4rem;
  margin-bottom: 10px;
  margin-left: 30px;
  font-family: "Ubuntu", sans-serif;
  color: #f3e367;
  text-decoration: none;
}
header h1 a:hover {
  color: #c9c9c9;
}
@media (max-width: 500px) {
  header h1 a {
    margin-bottom: 20px;
    margin-left: 0px;
  }
}
header nav {
  margin-left: 62px;
  margin-top: 15px;
}
@media (max-width: 500px) {
  header nav {
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
  }
}
header nav a {
  margin-left: 20px;
  margin-right: 30px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #f3e367;
  font-family: "Varela Round", sans-serif;
}
header nav a:hover {
  color: #c9c9c9;
}
@media (max-width: 500px) {
  header nav a {
    margin-left: 0;
    margin-right: 15px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: -8px;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .social-content .fa {
  padding: 20px;
  font-size: 3rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #f3e367;
}
footer .social-content .fa:hover {
  color: #c9c9c9;
}
@media (max-width: 500px) {
  footer .social-content .fa {
    padding: 5px;
  }
}
footer .privacy p {
  font-family: "Ubuntu", sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.3rem;
  width: 100px;
  text-align: right;
  text-decoration: none;
  color: #f3e367;
}
@media (max-width: 500px) {
  footer .privacy p {
    padding-left: 0px;
  }
}
footer .privacy p a {
  text-decoration: none;
  color: #f3e367;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
}
footer .privacy p a:hover {
  color: #c9c9c9;
}
footer .privacy .p5 {
  padding-top: 15px;
}
#landing-image .landing-image-image {
  background-image: url('../img/waiter.jpg');
  height: 450px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 25px;
}
#landing-image .landing-image-text {
  text-align: left;
  position: absolute;
  width: 100%;
  color: #f3e367;
}
#landing-image .landing-image-text p {
  font-size: 4rem;
  font-family: "Ubuntu", sans-serif;
  color: #f3e367;
  margin-left: 2%;
  margin-top: 10px;
}
@media (max-width: 900px) {
  #landing-image .landing-image-text p {
    font-size: 2.6rem;
  }
}
@media (max-width: 500px) {
  #landing-image .landing-image-text p {
    font-size: 2rem;
  }
}
#landing-image .landing-image-text .p2 {
  text-align: right;
  margin-right: 2%;
}
#landing-image .landing-image-text .button-div {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -220px;
}
#landing-image .landing-image-text .button-div button {
  width: 200px;
  height: 40px;
  background: #f3e367;
  font-family: "Varela Round", sans-serif;
  font-size: 1.7rem;
  border-radius: 10px;
}
#landing-image .landing-image-text .button-div button:hover {
  background: black;
  color: #f3e367;
}
.headercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headercontent h2 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 2px solid #c9c9c9;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: #f3e367;
}
@media (max-width: 500px) {
  .headercontent h2 {
    font-size: 2rem;
    text-align: center;
  }
}
.headercontent p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  font-family: "Varela Round", sans-serif;
}
@media (max-width: 900px) {
  .headercontent p {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .headercontent p {
    font-size: 1.3rem;
  }
}
.content-section {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
@media (max-width: 500px) {
  .content-section {
    display: flex;
    flex-direction: column-reverse;
  }
}
.content-section .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-section .text-content h2 {
  font-size: 2.5rem;
  margin-left: 25px;
  color: #f3e367;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .content-section .text-content h2 {
    font-size: 2rem;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
}
.content-section .text-content p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-family: "Varela Round", sans-serif;
}
@media (max-width: 900px) {
  .content-section .text-content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .content-section .text-content p {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}
.content-section .img-content1 {
  width: 200%;
}
@media (max-width: 900px) {
  .content-section .img-content1 {
    margin: 10px;
    position: relative;
    bottom: -10px;
  }
}
@media (max-width: 500px) {
  .content-section .img-content1 {
    width: 100%;
    margin: 0px;
  }
}
.content-section .text-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-section .text-content2 h2 {
  font-size: 2.5rem;
  margin-left: 25px;
  color: #f3e367;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .content-section .text-content2 h2 {
    font-size: 2rem;
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}
.content-section .text-content2 p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-family: "Varela Round", sans-serif;
}
@media (max-width: 500px) {
  .content-section .text-content2 p {
    font-size: 1.3rem;
  }
}
.content-section .text-content2 .button-div2 {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .content-section .text-content2 .button-div2 {
    margin-bottom: 10px;
  }
}
.content-section .text-content2 .button-div2 button {
  width: 200px;
  height: 40px;
  background: #f3e367;
  font-family: "Varela Round", sans-serif;
  font-size: 1.7rem;
  border-radius: 10px;
  margin-top: 10px;
}
.content-section .text-content2 .button-div2 button:hover {
  background: black;
  color: #f3e367;
}
@media (max-width: 900px) {
  .content-section .text-content2 .button-div2 button {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .content-section .text-content2 .button-div2 button {
    margin-bottom: 10px;
  }
}
.content-section .img-content2 {
  width: 200%;
}
@media (max-width: 900px) {
  .content-section .img-content2 {
    margin: 10px;
    position: relative;
    bottom: -10px;
  }
}
@media (max-width: 500px) {
  .content-section .img-content2 {
    display: none;
  }
}
.aboutTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutTitle h1 {
  color: #f3e367;
  font-size: 7rem;
  font-family: "Ubuntu", sans-serif;
  border-top: 2px solid #f3e367;
  margin-top: 25px;
}
.aboutTitle h3 {
  color: #f3e367;
  font-size: 4rem;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 2px solid #f3e367;
  margin-bottom: 40px;
}
.aboutContent {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.aboutContent h4 {
  font-size: 2.5rem;
  font-family: "Varela Round", sans-serif;
}
.aboutContent h5 {
  font-size: 1.9rem;
  font-family: "Varela Round", sans-serif;
}
.aboutContent .personOne {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutContent .personOne .text-personOne h4 {
  color: #f3e367;
}
.aboutContent .personOne .text-personOne h5 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personOne .img-personOne img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 350px;
  position: relative;
  right: -10%;
}
.aboutContent .personTwo {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutContent .personTwo h4 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personTwo h5 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personTwo .img-personTwo img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 350px;
  position: relative;
  right: -10%;
}
.aboutContent .personThree {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutContent .personThree h4 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personThree h5 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personThree .img-personThree img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 350px;
  position: relative;
  right: -10%;
}
.aboutContent .personFour {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutContent .personFour h4 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personFour h5 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personFour .img-personFour img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 350px;
  position: relative;
  right: -10%;
}
.aboutContent .personFive {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutContent .personFive h4 {
  color: #f3e367;
}
.aboutContent .personFive h5 {
  color: #f3e367;
  display: flex;
  justify-content: center;
}
.aboutContent .personFive .img-personFive img {
  width: 90%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 350px;
  position: relative;
  right: -6%;
}
.aboutContent .personSix {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutContent .personSix h4 {
  color: #f3e367;
}
.aboutContent .personSix h5 {
  display: flex;
  justify-content: center;
  color: #f3e367;
}
.aboutContent .personSix .img-personSix img {
  width: 90%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 350px;
  position: relative;
  right: -6%;
}
