.headercontent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2{
        font-size:3rem;
        font-family: @font2;
        border-bottom: 2px solid @grey;
        padding-bottom: 25px;
        margin-bottom:25px;
        color: @yellow;
    }
    p {
      margin-left:10px;
      margin-right:10px;
      margin-bottom:25px;
    }
}

.content-section{
    .text-content{
        h2{
            font-size:2.5rem;
            margin-left:25px;
        }
        p{
            margin-left:10px;
        }
    }
}