header {
    
    
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    
    
  
    @media @mobile {
      flex-direction: column;
      align-items: center;
      
    }
  
    h1 {
      font-size: 4rem;
      margin-bottom:10px;
      margin-left:30px;
      font-family: @font1;
      color: @yellow;

  
      @media @mobile {
        margin-bottom: 20px;
      }
    }
  
    nav {
      margin-left: 62px;
      margin-top:15px;
  
      @media @mobile {
        margin-left: 0;
        display:flex;
        justify-content:space-evenly;
        
      }
  
      a {
        margin-left: 20px;
        margin-right:30px;
        font-size: 1.8rem;
        text-decoration:none;
        color:@grey;
        font-family: @font2;

      }
  
      .first-anchor {
        margin-left: 0;
      }
    }
  }

  #landing-image {

    .landing-image-image{
    background-image: url('../img/waiter.jpg');
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom:25px;
    }

    .landing-image-text {
        text-align: left;
        position: absolute;
        width: 100%;
        color:@yellow;
        

        p{
            font-size:4rem;
            font-family:@font1;
            color:@yellow;
            margin-left:2%;
            margin-top:10px;
        }
        .p2{
            text-align:right;
            margin-right:2%;
        }
        .button-div{
            display:flex;
            justify-content:center;
            position:relative;
            bottom:-180px;
        

            button{
                width:200px;
                height:40px;
                background:@yellow;
                font-family:@font2;
                font-size:1.7rem;
                border-radius:10px;
            }
        }
    }
  }

  